{% extends 'base/base.html' %}

{% block content %}
	<!-- Main -->
        <div id="main" class="p-4">
                <div class="container mx-auto">
                                <h1>Welcome to the Dark Ages Wiki!</h1>
                                <p class="lead">Thanks for stopping by! We hope you can help you out on your
                                        journey through Temuair!</p>
                </div>
                <div class="container mx-auto">
                </div>
        </div>
{% endblock %}
